In [1]:
import pandas as pd
from decision_tree import decision_tree

zoo = pd.read_csv('zoo.csv')
X = zoo.iloc[:,1:-1]
Y = zoo.iloc[:,-1]
XList = X.values.tolist()
YList = Y.values.tolist()

In [2]:
zoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [8]:
#building the tree with the criterion passed as a parameter
dd = decision_tree('gini')
tree = dd.fit(XList,YList)
tree

{12: {0: {11: {0: {7: {0: 7, 1: 3}}, 1: {2: {0: 1, 1: 4}}}},
  2: {0: {0: 2, 1: 1}},
  4: {0: {0: {4: {0: 3, 1: {5: {0: 7, 1: 5}}}}, 1: 1}},
  5: 7,
  6: {5: {0: 6, 1: 7}},
  8: 7}}

In [9]:
#Predicting using the same trained dataset
hypo = dd.predict(XList)
hypo

[1,
 1,
 4,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 1,
 2,
 4,
 7,
 3,
 7,
 2,
 1,
 4,
 1,
 2,
 2,
 1,
 2,
 6,
 3,
 3,
 1,
 1,
 1,
 6,
 1,
 1,
 2,
 4,
 1,
 1,
 2,
 4,
 6,
 6,
 2,
 6,
 2,
 1,
 1,
 7,
 1,
 1,
 1,
 1,
 6,
 3,
 7,
 1,
 1,
 2,
 2,
 2,
 2,
 4,
 4,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 7,
 4,
 1,
 1,
 3,
 7,
 2,
 2,
 3,
 7,
 4,
 2,
 1,
 7,
 4,
 2,
 6,
 3,
 3,
 3,
 4,
 1,
 1,
 2,
 1,
 6,
 1,
 7,
 2]